################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExampleApplicationMVC/bin
/ExampleApplicationMVC/obj
/ExampleApplicationMVC/Properties
