
@{
    ViewBag.Title = "Application Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Congratulations!</h2>
    <br/>
    <h3>Your application has been submitted successfully</h3>
</div>
